* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
}

body {
    background-color: rgb(3, 19, 7);
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 60px;
    background-color: rgb(9, 60, 23);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

.logo {
    color: rgb(102, 244, 20);

}

.desktop-nav {
    display: flex;
    gap: 20px;
}


.desktop-nav a {
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
    transition: 1s;
}

.desktop-nav a:hover{
    background-color: rgb(155, 155, 242);
    color:rgb(15, 16, 40);
    transition: 1s;
}

.burger-nav {
    display: none;
    position: relative;
}

.burger-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    min-width: 200px;
}

.burger-content.active {
    display: block;
}


/* аватарка */

.logo {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.block1 {
    background-color: rgb(23, 96, 42);
    color: white;
    margin: 10px;
    padding: 30px;
   
}

.title {
    margin-top: 40px;
    margin-bottom: 40px;
     color: white;
    text-align: center;
}

.post {
    margin-top: 10px;
    margin-bottom: 30px;
}


.footer {
    text-align: center;
    background-color: rgb(9, 60, 23);
    padding: 10px;
    font-size: 14px;
    
}

.title1 {
    margin-top: 10px;
    margin-bottom: 10px;
     color: white;
    text-align: center;

}

    @media (min-width: 300px) and (max-width: 1100px) { 
    
            .desktop-nav {
                display: none; 
            }

            .burger-nav {
                display: block; 
               
            }
            .line {
                width: 20px;
                height: 3px;
                background-color: rgb(102, 244, 20);
                margin: 3px;
            }
            .burger-content {
                display: none;
            }

            .burger-content a {
                color: white;
                padding: 2px 4px;
                text-decoration: none;
                font-size: 14px;
                transition: 1s;
            }
            .burger-content.active {
                display: flex;
                text-decoration: none;
                width: 40%;
                height: 80px;
                background-color: rgb(9, 60, 23);
                align-items: center;
                flex-direction: column;
                transition: 1s;
            }
            .burger-content a:hover{
                color:rgb(15, 16, 40);
                transition: 1s;
            }
       
           .btn{
                font-size: 12px;
                margin-left: 40%;
                width: 100px;
                transition: 1s;
            }
           .avatar {
                width: 25px;
                height: 25px;
            }


            .footer {
                font-size: 12px;
            }

        }
          @media (min-width: 769px) {
            .burger-content {
                display: none !important; 
            }
        }


        


